<footer>
 
  <!-- Footer -->
<div class="container">
    <div class="container__left">
        <div class="footer_logo">
          <a href="/">
            <img src="/images/logocolor.png" alt="Company logo">
          </a>
        </div>
        <p class="logo__text">Discover Global Cuisine with our Kitchen Kaleidoscope!</p>
        <div class="icons">
            <div class="icon">
               <a href="https://www.linkedin.com/in/leonardobarbosa2911/">
                 <img src="/images/linkden_logo.png" alt="Linkdln logo">
               </a>
            </div>
            <div class="icon">
               <a href="">
                 <img src="/images/insta_logo.png" alt="Instagram logo">
               </a>
            </div>
            <div class="icon">
               <a href="">
                 <img src="/images/whatsapp_logo.png" alt="Whatsapp logo">
               </a>
            </div>
        </div>
    </div>
    <div class="container__right">
        <div class="links">
            <ul class="footer-links">
               <li><a href="/">Home</a></li>
               <li><a href="/search">Search</a></li>
               <li><a href="/surpriseDish">Discover</a></li>
            </ul> 
        </div>
        <div class="about_contact">
            <div class="about_us">
                <h3>About us</h3>
                <p>Welcome to the Kitchen Kaleidoscope! Explore global recipes, from quick bites to hearty meals. Find new tastes and savor the cooking journey with us!</p>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <p>lbsbezerra@gmail.com</p>
            </div>
        </div>
    </div>
</div>

</footer>

</main>
<script src="/css.js"></script>
</body>

</html>