<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/buttons.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <title>Kitchen Kaleidoscope</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
</head>
<body>
  <main>
    <header>
      <!-- navbar -->
      <nav>
        <div class="nav-left">
          <div class="logo">
          <a href="/">
            <img src="/images/logowhite.png" alt="Company logo">
          </a>
          </div>
        </div>
        <div class="nav-right">
            <ul class="nav-links">
              <li><a href="/">Home</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/surpriseDish">Discover</a></li>
            </ul> 
        </div>
        <div class="hamburger">
              <div></div>
              <div></div>
              <div></div>
        </div>
      </nav>
    </header>