<!-- Header with Dynamic Template -->
<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/home.css">

<!-- title page with responsive design -->
<div class="first-pg">
    <div class="first-left">
        <div class="title">
           <h1>Get Your <span class="ultimate">Ultimate</span> <span class="recipe">Recipe</span></h1>
           <h3>Discover Global Cuisine with our Kitchen Kaleidoscope!</h3>
        </div>
        <div class="button">
            <a href="/search">
                <button>
                    <span></span>
                        Search
                    <span></span>
                </button>
            </a>
        </div>
    </div>
    <div class="first-right">
        <img src="/images/frontpagepic-removebg.png" alt="Pasta and two bowls">
    </div>
</div>

<!-- second page with responsive design -->

<div class="card-page snaps_inline">
    <div class="cards">
        <img src="/images/pasta.jpg" alt="Pasta bowl"> 
        <div class="card-body">
            <h1 class="card-title">Pasta Pronto</h1>
            <p class="card-info">Savor the simplicity of pasta, prepared quickly and expertly. Perfect for busy lifestyles, serch for pastas for your kitchen.</p>
        </div>
    </div>
    <div class="cards">
        <img src="/images/veggies.jpg" alt="Veggies"> 
        <div class="card-body">
            <h1 class="card-title">Veggie Vibes</h1>
            <p class="card-info">Energize your day with vibrant, plant-powered meals. Healthy eating meets great taste in every dish.</p>
        </div>
    </div>
    <div class="cards">
        <img src="/images/tarkari.jpg" alt="Tarkari"> 
        <div class="card-body">
            <h1 class="card-title">Taste the World</h1>
            <p class="card-info">Savor the richness of international flavors. Discover recipes from diverse cuisines, bringing the world to your kitchen.</p>
        </div>
    </div>
</div>

<!-- third page with responsive design -->

<div class="third-pg">
    <div class="text-part">
        <h1>Want To Try Something New?</h1>
        <div class="button">
            <button>
             <span></span>
             <a href="/surpriseDish">Surprise me with a Dish!</a>
             <span></span>
            </button>
         </div>
    </div> 
</div>

<!-- Footer with Dynamic Template-->    
<%- include("partials/footer.ejs") %>