/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

/* Global Styles for our website */
*{
    /* Reset browser default margins and paddings */
    padding: 0;
    margin: 0;
    /* Set 'box-sizing' for consistent width calculations */
    box-sizing: border-box;
    /* Remove default text decoration and list styles */
    text-decoration: none;
    list-style: none;
    /* Set a default font family */
    font-family: sans-serif;
    
}

html {
    /* Set base font size for the page */
    font-size: 16px;
}

/* Button Styles */
/* Base styles for all buttons */
button{
    /* Inherit font properties from parent element */
    font: inherit;
    padding: 0 2.4rem 0.15rem;
    background: #2c2b1a;
    border: 0.15em solid #008b14;
    border-radius: 100vw;
    cursor: pointer;
    transition: background-color 250ms;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #ededec;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

button:hover,
button:focus-visible {
    /* Change background color on hover and focus */
    background:#474528;
}

button > span {
    /* Style child elements within the button */
    position: absolute;
    width: 33.333%;
    height: 100%;
    z-index: -1;
    background: transparent;
    opacity: 0.5;
}

button > :first-child {
    left: 0;
    top: 0;
}

button > :last-child {
    right: 0;
    top: 0;
}

button::before {
    content: "";
    position: absolute;
    background: #00db1f;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    z-index: -1;
    opacity: 0;

    transition: transform 1000ms 200ms, opacity 200ms;
}

button:active::before {
    transform: scale(20);
    opacity: 1;
    transition: transform 1000ms, opacity 500ms;
}

button:has(:first-child:active)::before {
    margin-left: 0;
}

button:has(:last-child:active)::before {
    margin-right: 0;
}

button:has(:first-child:active)::before,
button:has(:last-child:active)::before {
    transition: transform 500ms, opacity 250ms;
}

/* Card Button Styles */
.item_button {
    /* Style for card buttons */
    display: flex;
    font: inherit;
    padding: 0.4rem 0.15rem;
    background: #2c2b1a;
    cursor: pointer;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #ededec;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 54px;
}

.item_button:hover{
    /* Change background color on hover */
    background:#00db1f;
}

/* Link Styles */
a {
    /* Style for anchor links */
    text-decoration: none;
    color: #ededec;
    font-size: 1.4rem;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    padding-bottom:0.15rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Adjust button styles for smaller screens */
    button{
        padding: 0 1.4rem 0.15rem;
        font-size: 1.2rem;
    }

    /* Adjust card button styles for smaller screens */
    .item_button {
        padding: 0.6rem 0.15rem;
        height: 34px;
    }
    
    /* Adjust link styles for smaller screens */
    a {
        font-size: 1.2rem;
    }

}

@media (max-width: 425px) {
    /* Further adjust button styles for even smaller screens */
    button{
        padding: 0 1rem 0.15rem;
        font-size: 1rem;
    }

}
